@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Typographie */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    /* Couleurs de marque Yasser Électronique */
    --color-brand-gold:    #3B2ECA;
    --color-brand-gold-dark: #2A1FA8;
    --color-brand-dark:    #111827;
    --color-brand-darker:  #0D1321;
}
